@model List<ShipTour>
<div class="best-rooms py-5">
    <h3 class="hny-title">Gemi Turları</h3>
    <div class="container py-md-5">
        <div class="ban-content-inf row">
            <div class="maghny-gd-1 col-lg-6">
                <div class="maghny-grid">
                    <figure class="effect-lily border-radius  m-0">
                        <img class="img-fluid" src="~/Traversal-Liberty/assets/images/g4.jpg" alt="" />
                        <figcaption>
                            <div>
                                <h4>Blue Sapphire İle Antalya Kalkışlı ULTRA HERŞEY DAHIL Yunan Adaları</h4>
                                <h4>3 Gece</h4>
                                <p>From 541,00$ </p>
                            </div>

                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="maghny-gd-1 col-lg-6 mt-lg-0 mt-4">
                <div class="row">
                    <div class="maghny-gd-1 col-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius" style="position: relative;">
                                <img class="img-fluid" src="~/Traversal-Liberty/assets/images/g6.jpg" alt="" />
                                <figcaption style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                                    <div>
                                        <h4>Costa Fortuna İle Antalya Bitişli İtalya</h4>
                                        <h4>4 Gece</h4>
                                        <p>From 658,00$ </p>
                                    </div>
                                </figcaption>
                            </figure>

                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius" style="position: relative;">
                                <img class="img-fluid" src="~/Traversal-Liberty/assets/images/g3.jpg" alt="" />
                                <figcaption style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                                    <div>
                                        <h4>M/V Gemini İle Antalya Kalkışlı Yunan Adaları</h4>
                                        <h4>3 Gece</h4>
                                        <p>From 960,00$ </p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius" style="position: relative;">
                                <img class="img-fluid" src="~/Traversal-Liberty/assets/images/g7.jpg" alt="" />
                                <figcaption style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                                    <div>
                                        <h4>MSC Lirica İle Dalmaçya Kıyıları & Batı Akdeniz</h4>
                                        <h4>5 Gece</h4>
                                        <p>From 1398,00$ </p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius" style="position: relative;">
                                <img class="img-fluid" src="~/Traversal-Liberty/assets/images/g1.jpg" alt="" />
                                <figcaption style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                                    <div>
                                        <h4>MSC Seaview İle İspanya & Fransa & İtalya </h4>
                                        <h4>7 Gece</h4>
                                        <p>From 1438,00$ </p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
